
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display: flex;
    justify-content: space-between;

}

.exerciseMainContent {
flex-basis: 60%;
margin: 0 8px 0 8px;


}

.exerciseMainAside {
   flex-basis: 30%
}