
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display: flex;
    justify-content: space-between;

}

.exerciseMainContent {
    flex-grow: 2;
    margin-right: 8px;
}

.exerciseMainAside {
    flex-grow: 1;
}                                     