
/* Header */

body {
    width: 375px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    font-family: 'source sans pro', sans-serif;
}

header, main {
    margin: 0 16px 0 16px;
    padding-right: 0;
    padding-top: 16px;
}

header, main {
    border-bottom-color: rgba(255, 255, 255, 0.25);
    border-bottom-style: solid;
}


/* Main */


main {
    padding-top: 0;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Tiles */

.playtiles {
    display: grid;
    grid-template-columns: repeat(5, 38px);
    gap: 2px;
}

.playtiles {
    margin: 0;
    padding: 0;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
}

.tile {
text-transform: uppercase;
border-style: solid;
border-width: 1px;
border-color: rgb(97,97,97);
padding: 2px;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
font-size: 24px;
font-weight: bold;
text-align: center;
}


.keys {
    text-transform: uppercase;
    border-width: 1px;
    border-color: rgb(97,97,97);
    padding: 2px;
    width: 16px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-radius: 4px;
    margin: 0;
}

.widekey {
    text-transform: uppercase;
    border-width: 1px;
    border-color: rgb(97,97,97);
    padding: 2px;
    width: 32px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-style: solid;
}

.toprowkeys {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
}

.midrowkeys {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
}

.btmrowkeys {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
}

.backdrop {
    background-color: rgb(16,16,16);
    color: white;
    margin-top: 0;
    padding-top: 0;
}

ul {
    list-style-type: none;
}