
/* Header */

body {
    width: 375px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    font-family: 'source sans pro', sans-serif;
}


header, main {
    border-bottom-color: rgba(255, 255, 255, 0.25);
    border-bottom-style: solid;
}


/* Main */



/* Tiles */

.playtiles {
    display: grid;
    grid-template-columns: repeat(5, 38px);
    gap: 2px;
}

.playtiles {
    margin: 0;
    padding: 0;
}

.keyboard {
  background: red;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tile {
text-transform: uppercase;
border-style: solid;
border-width: 1px;
border-color: rgb(97,97,97);
padding: 2px;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
font-size: 24px;
font-weight: bold;
text-align: center;
}


.keys {
    text-transform: uppercase;
    border-width: 1px;
    border-color: rgb(97,97,97);
    padding: 2px;
    width: 16px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-radius: 4px;
    margin: 0;
}

.widekeyL {
    grid-column: 1/ span 2;
    border-width: 1px;
    border-color: rgb(97,97,97);
    padding: 2px;
    border-style: solid;
    border-radius: 4px;
}
.widekeyR {
    grid-column: 10/ span 2;
    border-width: 1px;
    border-color: rgb(97,97,97);
    padding: 2px;
    border-style: solid;
    border-radius: 4px;
 }


.toprowkeys {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
    background: yellow;
    padding: 0;
    margin: 0;
}

.midrowkeys {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
    padding: 0;
    margin: 0;
    background: purple;
}

.btmrowkeys {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 0px;
    padding: 0;
    margin: 0;
    background: orange;
}


.backdrop {
    background-color: rgb(16,16,16);
    color: white;
    margin-top: 0;
    padding-top: 0;
}

ul {
    list-style-type: none;
}


main {
    padding-top: 0;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blue;
}