
.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 10px;
}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
}


.exerciseHeaderNav {
margin-left: 0;
}

.exerciseHeaderNav ul {
display: flex;
gap: 10px;
flex-wrap: wrap;
margin: 0;
}

.exerciseHeaderNav ul li {
list-style-type: none;
justify-content: space-between;
min-width: 200px;

}


/* Main */

.exerciseMain {
display: grid;
grid-template-columns: 1fr 3fr;
gap: 10px;
}

.exerciseMainLeftNav {
  
}

.exerciseMainContent { 
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 10px;

}

.exerciseMainContent > * {
margin: 0;
}

.exerciseMainContentBanner {
grid-column: span 4;
height: 100px;
}

.exerciseMainContentSubBanner {
grid-column: span 3;
}

.exerciseMainContentBlock {
 

}