/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */

header {
  display: flex;
  border-bottom-color: #f2ff00;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  background-color: black;
 align-items: center;
 justify-content: space-between;
}

header h1 {
  color: #f2ff00;
  margin: 24px;
}

nav {
  margin: 24px;
}

.btn {
  display: block;
  background-color: grey;
  text-align: center;
  font-size: 24px;
  border-radius: 4px; 
  border-bottom: 2px solid #878787;
}

.btnbold {
  background-color: yellow;
  border-bottom-color: #ffd900;
  border-radius: 4px; 
}

em {
  text-decoration: underline;
  text-decoration-color: #f2ff00;
}


.capsNav {
  text-transform: uppercase;
}

.hw2upbar p {
  color: black;
  font-style: italic;
  justify-content: flex-end;
  font-size: 24px;
}

.hw2upbar {
  justify-content: center;
  background-color: #adadad; 
}

.testingthis {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg");
  margin: 0;
  min-height: 600px;
  display: flex;
  justify-content: flex-end;

}

.boxinabox {
  color: blue;
  display: block;
  max-width: 300px;
  align-items: center;
  margin: 128px 64px 0 0;
}

.topnavrightside {
  display: flex;
  justify-content: space-between;
}

li {
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

/* Bottom Bar */


.hw2bottomctas {
  display: flex;
  background-color: lightgrey;
}

.hw2bottomsquares {
  margin: 24px;
}


.hw2bottomctas h1 {
  font-size: 24px;
  font-family: 'Merriweather', serif;
}

.hw2bottomctas a {
  color: black;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #adadad;
  padding: 8px 16px 8px 16px;
}

.hw2bottomctas p {


}


/* Footer */

Footer {
  background-color: black;
}

footer p {
  color: white;
  margin-left: 16px;
  padding: 8px;
}