

/* Navigation */

.linksAndCta {
    display: flex; 
    align-items: center;
    margin-right: 24px;
}


.mainNav {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
}

nav li {
    list-style-type: none;
}


.topRightNav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.topRightNav a:hover {
    color: #0a2d67;
}

.topRightNav ul {
    display: flex;
    gap: 8px;
}

.topRightNav {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px; 
    margin-right: 24px;
}

.logoNav {
    margin-top: 24px;
    margin-bottom: 24px; 
}




/*  MEDIA */ 

@media (min-width: 961px)
{
    .hamburgerMenu {
        display: none;
    }
}



@media screen and (max-width: 960px) {
    .columns {
        display: grid;
        grid-template-columns: 1fr;
    }

    .heroLander {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .heroTxt {
        text-align: center;
        margin: 0;
    }

    .hamburgerMenu {
        display: block;
        margin: 32px;
        color: black;
    }

    .linksAndCta {
        right: 0;
        margin: 0;
    
        background: #343434;
        position: absolute;
        top: 70px;
        margin-top: 12px;
        max-width:250px;
        height:0;
        flex-direction: column;
        justify-content:normal;
        gap: 40px;
        overflow:hidden;
        transition: all 300ms;
    }

    .mainNav {
        display: flex;
        align-items: center;
    }

    .linksAndCta .topRightNav {
    flex-direction: column;
    margin:4rem 0 0 0;
    gap:40px;
    text-align:left;
  }

    .hamburgerMenu {
        display: block;
        margin-right: 30px;
        color: black;
    }


    .topRightNav {
        padding: 0;
    }
    
    .linksAndCta a {
        color: white;
    }

    .ctaMain {
        background: white;
    }

    a.ctaMain {
        color:#0a2d67;
    }

    a.ctaMain:hover {
        color:white;
    }



    .nav_active {
        width: 50%;
        height: calc(100% - 70px);
    }
}

@media (max-width: 600px) {
    .heroTxt h1 {
        font-size: 56px;
    }

    .heroTxt p {
        font-size: 18px;
    }
}

