

/* Navigation */

.linksAndCta {
    display: flex; 
    align-items: center;
    margin-right: 24px;
}


.mainNav {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
}

nav li {
    list-style-type: none;
}


.topRightNav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.topRightNav a:hover {
    color: #0a2d67;
}

.topRightNav ul {
    display: flex;
    gap: 8px;
}

.topRightNav {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px; 
    margin-right: 24px;
}

.logoNav {
    margin-top: 24px;
    margin-bottom: 24px; 
}




/*  MEDIA */ 

@media (min-width: 961px)
{
    .hamburgerMenu {
        display: none;
    }
}



@media (max-width: 960px) {
    .columns {
        display: grid;
        grid-template-columns: 1fr;
    }

    .heroLander {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .heroTxt {
        text-align: center;
        margin: 0;
    }

    .linksAndCta {
        display: none;
    }

    .hamburgerMenu {
        display: block;
        margin: 32px;
        color: black;
    }

    .mainNav {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .heroTxt h1 {
        font-size: 56px;
    }

    .heroTxt p {
        font-size: 18px;
    }
}