

.container_fixed {
    max-width: 1440px;
    margin: 0 auto;
}


/* Navigation */

.linksAndCta {
    display: flex; 
    align-items: center;
    margin-right: 24px;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
}

nav li {
    list-style-type: none;
}


.topRightNav a {
    text-decoration: none;
    font-size: 20px;
    color: black;

}

.topRightNav ul {
    display: flex;
    gap: 8px;
}

.topRightNav {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px; 
    margin-right: 24px;
}

.logoNav {
    margin-top: 24px;
    margin-bottom: 24px; 
}

/* Hero */

.heroLander {
    background-color: darkgray;
    padding: 128px 0;
}

.heroTxt {
    background: white;
    padding: 24px;
    max-width: 500px;
    margin-left: 24px;
}

.heroTxt h1 {
    font-size: 80px;
    padding: 0px;
    margin: 0;
}

.heroTxt p {
    font-size: 24px;
    padding: 0px;
    margin: 24px 0 48px 0;
}


/* Main CTA */

.ctaMain {
    border-radius: 100px;
    background-color: rgb(50, 50, 50);
    padding: 8px 16px 8px 16px;
    color: white;
    text-decoration: none;
}


.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 56px 24px;
}


/* Main Left Column */

.columnleft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleNav {
    display: flex;
    gap: 16px;
    padding-bottom: 0;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: center;
    margin-top: 0px;
    height: 56px;
    margin-bottom: 0;
}

.articleNav a {
    color: black;
    text-decoration: none;
}

.articleNav li {
    list-style-type: none;
}

.navActive {
    border-bottom-style: solid;
    padding: 2px;
    border-bottom-width: 1px;
    font-weight: bold;
}

.navDeactive {
    padding: 2px;
    color: rgba(50,50,50,0.75);
}

.articleCardsColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.articleCard {
    align-self: center;
    border-bottom-style: solid;
    border-bottom-color:rgb(168, 168, 168);
    border-bottom-width: 1px;
    width: 343px;
    margin-bottom: 32px;
}

.articleHeaders {
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.articleCard p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.writerpic {
    width: 32px;
    padding-bottom: 0;
    margin-bottom: 0px;
}

.articleDetails {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    padding-left: 0;
    margin: 0;
    align-items: center;
}

.articleDetails li {
    list-style-type: none;
    font-size: 10px;
}

.readtime {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.articleBtm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.profBackground {
    background-color: grey;
    border-radius: 100%;
    padding: 0;  display: flex;
    flex-direction: column;


}

/* IMAGES */

.articleimgpreview {
    width: 343px;
    height: 274px;
    border-radius: 8px;
}

/* MAIN COLUMN RIGHT */ 

.feat_artist h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.feat_artist {
    margin-top: 0;
    padding-top: 0;
    height: 56px;
}

.columnRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
}



/* FOOTER */ 

footer {
    background-color: lightgrey;
    margin: 0;
    height: 160px;
}



/*  MEDIA */ 

@media (min-width: 961px)
{
    .hamburgerMenu {
        display: none;
    }
}



@media (max-width:960px) {
    .columns {
        display: grid;
        grid-template-columns: 1fr;
    }

    .heroLander {
        display: flex;
        justify-content: center;
    }

    .heroTxt {
        text-align: center;
        margin: 0;
    }

    .linksAndCta {
        display: none;
    }

    .hamburgerMenu {
        display: block;
        margin: 32px;
        color: black;
    }

    .mainNav {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 560px) {
    .heroTxt h1 {
        font-size: 56px;
    }

    .heroTxt p {
        font-size: 18px;
    }
}