/* ### Colors
Green: #20c063 / RGBA(32,192,99,1)
Gray: #e8e9ea  / RGBA (232,233,234,1)
Dark Text: #3b4144 / RGBA (59,65,68,1) */


/* Top Green Header Nav Bar */

.logoandnavleft {
    display: flex;
}

.greenheader {
    background: #32b64c;
}

ul.topnavleft, ul.topnavright, ul.topnavJ {
    list-style-type: none;
    color: white;
    margin-bottom: 0;
    margin-top: 0px;
    align-items: center;
}

.maintopnav {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    font-family: 'source Sans Pro', sans-serif;
    padding: 8px;
    font-size: 14px;
}

.maintopnav a {
    color: white;
    text-decoration: none;
}

.topnavleft {
    display: flex;
    gap: 24px;
    align-items: center;
}

.topnavright {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-right: 24px;
    padding-right: 0;
    align-items: center;
}

.topnavJ {
    display: flex;
    gap: 0px;
    padding-left: 0;
}

.trulialogo {
    width: 75px;
}

.circleborder {
    border: 2px solid white;
    border-radius: 22px;
    display: inline-block;
    height: 20px;
    padding-top: 2px;
    margin: 0px 5px;
    text-align: center;
    text-transform: uppercase;
    width: 22px;
}

.rightside {
    display: flex;
}

/* Sub Header */

.available-homes {
    display: flex;
    align-items: baseline;
    gap: 16px;
    margin-left: 24px;
    padding-top: 20px;
    padding-bottom: 8px;
}

.available-homes div {
    align-items: baseline;
}

.available-homes h1 {
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'source sans pro', sans-serif;
}

.available-homes p {
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'source sans pro', sans-serif;
    font-size: 14px;
}


/* Photos 
House pics:
01. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg
02. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg
03. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg
04. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg
05. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg
06. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg
07. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg
08. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg
09. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg
10. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg
11. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg
12. https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg */

.bannernew {
    background-color: rgba(32,192,99,0.8);
    color: white;
    width: 40px;
    padding-left: 8px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
}

.bannerforsale {
    background-color: rgba(132, 136, 134, 0.8);
    color: white;
    width: 96px;
    padding-left: 8px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
}


.housephoto1 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg);
}

.housephoto2 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg);
}

.housephoto3 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg);
}

.housephoto4 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg);
}

.housephoto5 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg);
}

.housephoto6 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg);
}

.housephoto7 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg);
}

.housephoto8 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg);
}

.housephoto9 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg);
}

.housephoto10 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg);
}

.housephoto11 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg);
}

.housephoto12 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg);
}
.houseimages {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 160px;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* Main Grid */

.fullhousecard {
    margin: 16px 8px 16px 8px;
    background-color: white;
    border-radius: 8px;
}

.houseprice, .housespecsrow, .houseaddress {
    margin: 2px 4px 2px 4px;
}

.houseprice {
    display: flex;
}

.housespecsrow {
    display: flex;
    gap: 8px;
}

.housespec {
    display: flex;
    gap: 4px;
}

.homeicon, .arrowicon {
    width: 16px;
    height: 16px;
}

.mainhousegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 16px;
    background: #e8e9ea;
}

.housecardbottom {
    display: flex;
    flex-direction: column;
    margin: 8px 0 16px 8px;
    font-family: 'source sans pro', sans-serif;
}

.housecardbottom address {
    color: #787d81;
    font-size: 14px;
    font-style: normal;
}

.housecardbottom p {
    margin: 0;
    font-size: 16px;
}

.housecardbottom h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}


.leftcardedits {
    margin-left: 16px;
}

.rightcardedits {
    margin-right: 16px;
}


/* Footer*/

footer {
    font-family: 'source sans pro', sans-serif;
}

.zipcodedescrip {
    margin: 48px 88px 48px 24px;
}

footer a {
    color: #2b883d;
    text-decoration: none;
    font-family: 'source sans pro', sans-serif;
    font-size: 14px;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

footer li, footer p {
    font-family: 'source sans pro', sans-serif;
    font-size: 14px;
}

footer h1 {
    font-size: 20px;
}

.pagenumbers {
    display: flex;
    gap: 24px;
}

.pageresults p {
    margin: 8px;
    padding: 0;
    color: #787d81;
    font-size: 16px;
    font-family: 'source sans pro' sans-serif;
}

.bottomNav {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.bottomNav em {
    font-style: normal;
    font-weight: bold;
    color:#227032;
    font-size: 14px;
}

.greyfooternav {
    background:#474E52;
    margin-top: 32px;
}

.greyfooternav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 16px;
}

.greyfooternav a {
    color: white;
    font-size: 16px;
}

.greyfooternav li {
    color: white;
}

.copyright {
   display: flex;
   justify-content: center;
}

.copyright p {
    font-size: 10px;
    color: lightgrey;
}