/* ### Colors
Green: #20c063 / RGBA(32,192,99,1)
Gray: #e8e9ea  / RGBA (232,233,234,1)
Dark Text: #3b4144 / RGBA (59,65,68,1) */


/* Top Green Header Nav Bar */

.logoandnavleft {
    display: flex;
}

.greenheader {
    background: #32b64c;
}

ul.topnavleft, ul.topnavright, ul.topnavJ {
    list-style-type: none;
    color: white;
    margin-bottom: 0;
    margin-top: 0px;
    align-items: center;
}

.maintopnav {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    font-family: 'source Sans Pro', sans-serif;
    padding: 10px;
    font-size: 16px;
}

.maintopnav a {
    color: white;
    text-decoration: none;
}

.topnavleft {
    display: flex;
    gap: 24px;
    align-items: center;
}

.topnavright {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-right: 24px;
    padding-right: 0;
    align-items: center;
}

.topnavJ {
    display: flex;
    gap: 4px;
    margin-left: ;
    padding-left: 0;
}

.trulialogo {
    width: 75px;
}

.topnavJ span {
    border-radius: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 100px;
    padding: 6px;
}

.rightside {
    display: flex;
}

/* Sub Header */

.available-homes {
    display: flex;
    align-items: baseline;
    gap: 16px;
    margin-left: 24px;
    height: 68px;
}

.available-homes div {
    align-items: baseline;
}

.available-homes h1 {
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.available-homes p {
    margin-bottom: 0;
    padding-bottom: 0;
}


/* Main Grid */

.fullhousecard {
    margin: 16px;
    background-color: white;
    border-radius: 8px;
}

.houseprice, .housespecsrow, .houseaddress {
    margin: 2px 4px 2px 4px;
}

.houseprice {
    display: flex;
}

.housespecsrow {
    display: flex;
    gap: 8px;
}

.housespec {
    display: flex;
    gap: 4px;
}


.homeicon, .arrowicon {
    width: 16px;
    height: 16px;
}

.mainhousegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 16px;
    background: #e8e9ea;
}


.housecardbottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    font-family: 'source sans pro', sans-serif;
}

.housecardbottom address {
    color: #787d81;
    font-size: 14px;
    font-style: normal;
}

.housecardbottom p {
    margin: 0;
    font-size: 16px;
}

.housecardbottom h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}






/* Footer*/

footer {
    font-family: 'source sans pro', sans-serif;
}

.zipcodedescrip {
    margin: 48px 88px 48px 24px;
}

footer a {
    color: #2b883d;
    text-decoration: none;
    font-family: 'source sans pro', sans-serif;
    font-size: 14px;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

footer li, footer p {
    font-family: 'source sans pro', sans-serif;
    font-size: 14px;
}

footer h1 {
    font-size: 20px;
}

.pagenumbers {
    display: flex;
    gap: 24px;
}

.pageresults p {
    margin: 8px;
    padding: 0;
    color: #787d81;
    font-size: 16px;
    font-family: 'source sans pro' sans-serif;
}

.bottomNav {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.bottomNav em {
    font-style: normal;
    font-weight: bold;
    color:#227032;
    font-size: 16px;
}

.greyfooternav {
    background:#717577;
    margin-top: 32px;
}

.greyfooternav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 16px;
}

.greyfooternav a {
    color: white;
    font-size: 16px;
}

.greyfooternav li {
    color: white;
}

.copyright {
   display: flex;
   justify-content: center;
}

.copyright p {
    font-size: 10px;
    color: white;
}